$listMargin: 15px;
$radius: 10px;
$padding: 2px 7px;
$desaturatedDarkCyan: hsl(180, 29%, 50%);
$veryDarkGrayishCyan: hsl(180, 14%, 20%);
$lightGrayishCyan: hsl(180, 52%, 96%);

.container {
    display: flex;
    flex-direction: row;
    align-self: center;
    align-items: center;
    background-color: white;
    width: 70vw;
    height: 200px;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 10px 10px 29px -11px rgba(44,58,58,0.49);

    img {
        width: 10%;
        height: auto;
        border-radius: 50%;
        margin: 0 20px;
    }

    .details {
        display: flex;
        flex-direction: column; 
        align-self: center;
        width: 100%;

        .company {
            ul {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                list-style-type: none;
                align-content: flex-start;
                padding-inline-start: 0;

                li {
                    margin-right: $listMargin;
                }

                #new {
                    font-size: 12px;
                    color: white;
                    background-color: $desaturatedDarkCyan;
                    border-radius: $radius;
                    padding: $padding;
                    border: 1px solid transparent;
                    cursor: pointer;
                }

                #featured {
                    font-size: 12px;
                    color: white;
                    background-color: $veryDarkGrayishCyan;
                    border-radius: $radius;
                    border: 1px solid transparent;
                    padding: $padding;
                    cursor: pointer;
                }
            }
        }

        .job-title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3 {
                color: $desaturatedDarkCyan;
                margin: 0;
                cursor: pointer;
            } 

            @extend .company;

            .tag {
                background-color: $lightGrayishCyan;
                padding: $padding;
                border: 1px solid transparent;
                text-align: center;
                border-radius: 5px;
                cursor: pointer;
                margin-top: 5px;
                margin-bottom: 5px;
                
                &:hover {
                    color: white;
                    background-color: $desaturatedDarkCyan;
                }
            }
        }

        .position-details {
            color: hsl(180, 8%, 52%);
            font-weight: 500;
            
            ul {
                display: flex;
                align-self: flex-start;
                padding-inline-start: 0px;

                li:first-of-type {
                    list-style-type: none;
                    padding-inline-end: 10px;
                    margin-left: 0;
                    margin-right: 10px;
                }

                li {
                    margin: 0 10px;
                    padding-inline-end: 10px;
                }
            }
        }
    }
};

@media (max-width: 950px) {
    .container {
        flex-direction: column;
        align-content: flex-start;
        align-items: flex-start;
        margin: 30px 0px;
        height: auto;
        width: 90vw;

        img {
            margin: 10px;
            width: 20%;
        }

        .details {
            .company {
                flex-direction: column;
                margin-left: $listMargin;
            }

            .job-title {
                align-items: flex-start;
                margin-left: $listMargin;

                #line {
                    width: 100%;
                    height: 1px;
                    border: none;
                    background-color: $veryDarkGrayishCyan;
                    display: flex;
                    justify-content: space-around;
                    margin: 10px 0;
                }

                .tag {
                    margin: 5px 10px;
                }
            }
  
        }

        .position-details {
            ul {
                li:first-of-type {
                    padding-inline-start: $listMargin;
                }
            }
        }
    }
}